.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  height: 100vh;
}

.spinner {
  width: 400px; /* Increase size */
  height: 400px; /* Increase size */
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

.progressBar {
  width: 80%; /* Adjust width as needed */
  background-color: #f3f3f3;
  border-radius: 25px;
  margin-top: 20px;
}

.progress {
  height: 25px;
  background-color: #4EC0C0;
  border-radius: 25px;
  width: 0%;
  transition: width 0.2s;
}

.spinnerText {
  font-size: 1.2rem;
  margin-top: 20px;
  color: #333;
}

.progressText {
  margin-top: 10px;
  font-size: 1rem;
  color: #333;
}